basePath: /api/v1
definitions:
  validationResult:
    properties:
      openapi:
        type: string
    required:
      - openapi
    type: object
externalDocs:
  url: 'https://github.com/mermade/openapi-webconverter'
host: mermade.org.uk
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/swagger2openapi/issues'
  description: Converter and validator for Swagger 2.0 to OpenAPI 3.0.x definitions
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  termsOfService: 'https://opensource.org/licenses/MIT'
  title: Swagger2OpenAPI Converter
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://avatars1.githubusercontent.com/u/15950345?v=3&s=200'
  x-origin:
    - format: openapi
      url: >-
        https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/openapi.json
      version: '3.0'
  x-providerName: mermade.org.uk
  x-serviceName: openapi-converter
  x-tags:
    - OpenAPI
    - Swagger
    - REST
    - API
paths:
  /badge:
    get:
      description: ''
      operationId: getBadge
      parameters:
        - description: The URL to retrieve the OpenAPI 3.0.x definition from
          format: uri
          in: query
          name: url
          required: true
          type: string
          x-example: >-
            https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/openapi.json
      responses:
        '301':
          description: Moved
      summary: >-
        Return a redirect to a badge svg file depending on a source definition's
        validity
      tags:
        - validation
  /convert:
    get:
      description: ''
      operationId: convertUrl
      parameters:
        - description: The URL to retrieve the OpenAPI 2.0 definition from
          format: uri
          in: query
          name: url
          required: true
          type: string
          x-example: >-
            https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/swagger.json
      produces:
        - application/json
        - application/x-yaml
      responses:
        '200':
          description: default
          schema: {}
      summary: Convert a Swagger 2.0 definition to OpenAPI 3.0.x from a URL
      tags:
        - conversion
    post:
      consumes:
        - multipart/form-data
      description: ''
      operationId: convert
      parameters:
        - description: The file to upload and convert
          in: formData
          name: filename
          type: string
        - description: The text of a Swagger 2.0 definition to convert
          in: formData
          name: source
          type: string
        - enum:
            - 'on'
          in: formData
          name: validate
          type: string
      produces:
        - application/json
        - application/x-yaml
      responses:
        '200':
          description: default
          schema: {}
        '400':
          description: Invalid request
          schema: {}
      summary: 'Convert a Swagger 2.0 definition passed in the body to OpenAPI 3.0.x '
      tags:
        - conversion
  /status:
    get:
      description: ''
      operationId: getStatus
      parameters: []
      produces:
        - application/json
        - application/x-yaml
      responses:
        '200':
          description: default
          schema: {}
      summary: Get the status of the API
      tags:
        - metadata
  /validate:
    get:
      description: ''
      operationId: validateUrl
      parameters:
        - description: The URL to retrieve the OpenAPI 3.0.x definition from
          format: uri
          in: query
          name: url
          required: true
          type: string
          x-example: >-
            https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/openapi.json
      produces:
        - application/json
        - application/x-yaml
      responses:
        '200':
          description: default
          schema:
            $ref: '#/definitions/validationResult'
      summary: Validate an OpenAPI 3.0.x definition
      tags:
        - validation
    post:
      consumes:
        - multipart/form-data
      description: ''
      operationId: validate
      parameters:
        - description: The file to upload and validate
          in: formData
          name: filename
          type: string
        - description: The text of an OpenAPI 3.0.x definition to validate
          in: formData
          name: source
          type: string
      produces:
        - application/json
        - application/x-yaml
      responses:
        '200':
          description: default
          schema:
            $ref: '#/definitions/validationResult'
        '400':
          description: Invalid request
          schema: {}
      summary: Validate an OpenAPI 3.0.x definition supplied in the body of the request
      tags:
        - validation
schemes:
  - https
security: []
swagger: '2.0'
tags:
  - description: Metadata functions
    name: metadata
  - description: Conversion functions
    name: conversion
  - description: Validation functions
    name: validation
x-components: {}

