basePath: /
definitions:
  Article:
    properties:
      ArticleID:
        nullable: false
        type: integer
      Author:
        nullable: true
        type: string
      Content:
        nullable: true
        type: string
      Players:
        items:
          $ref: '#/definitions/PlayerInfo'
        type: array
      Source:
        nullable: true
        type: string
      TermsOfUse:
        nullable: true
        type: string
      Title:
        nullable: true
        type: string
      Updated:
        nullable: true
        type: string
      Url:
        nullable: true
        type: string
  PlayerInfo:
    properties:
      Name:
        nullable: true
        type: string
      PlayerID:
        nullable: false
        type: integer
      Position:
        nullable: true
        type: string
      Team:
        nullable: true
        type: string
      TeamID:
        nullable: true
        type: integer
host: api.sportsdata.io
info:
  contact:
    x-twitter: nfldata
  title: NFL v3 RotoBaller Articles
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: >-
        https://fantasydata.com/downloads/swagger/nfl-v3-rotoballer-articles.json
      version: '2.0'
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-rotoballer-articles
paths:
  '/{format}/RotoBallerArticles':
    get:
      operationId: RotoballerArticles
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
      summary: RotoBaller Articles
  '/{format}/RotoBallerArticlesByDate/{date}':
    get:
      operationId: RotoballerArticlesByDate
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
      summary: RotoBaller Articles by Date
  '/{format}/RotoBallerArticlesByPlayerID/{playerid}':
    get:
      operationId: RotoballerArticlesByPlayer
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
      summary: RotoBaller Articles by Player
schemes:
  - http
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
swagger: '2.0'
tags: []
x-components: {}

