basePath: /v1
definitions:
  AuthenticationTokenResponse:
    allOf:
      - $ref: '#/definitions/Response'
      - properties:
          data:
            properties:
              token:
                type: string
            required:
              - token
            type: object
        type: object
    title: Request Authentication Token response
  Response:
    properties:
      data:
        type: object
      success:
        type: boolean
    required:
      - success
      - data
    title: Default response object
    type: object
host: api.personio.de
info:
  contact:
    x-twitter: PersonioHR
  description: Personio Authentication API
  title: Authentication
  version: '1.0'
  x-apisguru-categories:
    - enterprise
  x-logo:
    url: 'https://twitter.com/PersonioHR/profile_image?size=original'
  x-origin:
    - format: openapi
      url: >-
        https://raw.githubusercontent.com/personio/api-docs/master/personio-auth-api.yaml
      version: '3.0'
  x-providerName: personio.de
  x-serviceName: authentication
paths:
  /auth:
    post:
      description: Request Authentication Token
      parameters:
        - description: Client id of the downloaded credentials file
          in: query
          name: client_id
          required: true
          type: string
        - description: Client secret of the downloaded credentials file
          in: query
          name: client_secret
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AuthenticationTokenResponse'
schemes:
  - https
swagger: '2.0'
x-components: {}

