basePath: /
host: api.mailboxvalidator.com
info:
  contact:
    x-twitter: MailBoxV
  description: >-
    The Single Validation API does validation on a single email address and
    returns all the validation results in either JSON or XML format. Refer to
    https://www.mailboxvalidator.com for further information.
  title: MailboxValidator Email Validation
  version: '0.1'
  x-apisguru-categories:
    - email
  x-logo:
    url: 'https://twitter.com/MailBoxV/profile_image?size=original'
  x-origin:
    - converter:
        url: 'https://github.com/mermade/oas-kit'
        version: 7.0.4
      format: openapi
      url: >-
        https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Email-Validation/0.1
      version: '3.0'
  x-providerName: mailboxvalidator.com
  x-serviceName: validation
paths:
  /v1/validation/single:
    get:
      description: >-
        The Single Validation API does validation on a single email address and
        returns all the validation results in either JSON or XML format.
      parameters:
        - description: Return the result in json (default) or xml format.
          enum:
            - json
            - xml
          in: query
          name: format
          type: string
        - description: The email address to be validated.
          in: query
          name: email
          required: true
          type: string
        - description: API key.
          in: query
          name: key
          required: true
          type: string
      produces:
        - application/json; charset=utf-8
      responses:
        '200':
          description: single email validation response
          schema:
            type: string
schemes:
  - https
swagger: '2.0'

