basePath: /
host: api.fungenerators.com
info:
  contact:
    name: Fun Generators
    url: 'http://fungenerators.com/api/shakespeare/'
  description: >
    Shakespeare API. Generate random Shakespeare quotes, names, insults, lorem
    ipsum etc. Translate normal English to Shakespeare English.  [Click here to
    subscribe](http://fungenerators.com/api/shakespeare/) 
  termsOfService: 'https://fungenerators.com/terms'
  title: Shakespeare API
  version: '1.5'
  x-apisguru-categories:
    - text
  x-origin:
    - format: openapi
      url: 'https://fungenerators.com/yaml/shakespeare.yaml'
      version: '3.0'
  x-providerName: fungenerators.com
  x-serviceName: shakespeare
paths:
  /shakespeare/generate/insult:
    get:
      description: Generate random Shakespeare style insults.
      parameters:
        - description: No of insults to generate
          format: integer
          in: query
          name: limit
          required: false
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /shakespeare/generate/lorem-ipsum:
    get:
      description: Generate Shakespeare lorem ipsum.
      parameters:
        - description: Type of element to generate `paragraphs/sentences/words`.
          format: string
          in: query
          name: type
          required: false
          type: string
        - description: No of elements to generate
          format: integer
          in: query
          name: limit
          required: false
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /shakespeare/generate/name:
    get:
      description: Generate random Shakespearen names.
      parameters:
        - description: Variation to generate `male/female`.
          format: string
          in: query
          name: variation
          required: false
          type: string
        - description: No of names to generate
          format: integer
          in: query
          name: limit
          required: false
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /shakespeare/quote:
    get:
      description: Get a random Shakespeare quote.
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Works
  /shakespeare/translate:
    get:
      description: Translate from English to Shakespeare English.
      parameters:
        - description: Text to translate to Shakespeare English.
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Translation
schemes:
  - http
securityDefinitions:
  X-Fungenerators-Api-Secret:
    in: header
    name: X-Fungenerators-Api-Secret
    type: apiKey
swagger: '2.0'
tags:
  - description: 'Generate random quotes, names, insults, lorem ipsum etc'
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/shakespeare/'
    name: Generation
  - description: Get Shakespeare Works via API
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/shakespeare/'
    name: Works
  - description: Translate to Shakespeare English
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/shakespeare/'
    name: Translation
x-components: {}

