basePath: /
host: api.fungenerators.com
info:
  contact:
    name: Fun Generators
    url: 'http://fungenerators.com/api/pirate/'
  description: >
    Ahoy matey! We help the landlubbers to get to know about the seamen way! You
    can generate pirate names, get some real pirate insults and pirate filler
    text. Oh you can translate to pirate lingo as well. [Click here to
    subscribe](http://fungenerators.com/api/pirate/) 
  termsOfService: 'https://fungenerators.com/terms'
  title: Pirates API
  version: '1.5'
  x-apisguru-categories:
    - text
  x-origin:
    - format: openapi
      url: 'https://fungenerators.com/yaml/pirate.yaml'
      version: '3.0'
  x-providerName: fungenerators.com
  x-serviceName: pirate
paths:
  /pirate/generate/insult:
    get:
      description: Generate random pirate insults.
      parameters:
        - description: No of insults to generate
          format: integer
          in: query
          name: limit
          required: false
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /pirate/generate/lorem-ipsum:
    get:
      description: Generate pirate lorem ipsum.
      parameters:
        - description: Type of element to generate `paragraphs/sentences/words`.
          format: string
          in: query
          name: type
          required: false
          type: string
        - description: No of elements to generate
          format: integer
          in: query
          name: limit
          required: false
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /pirate/generate/name:
    get:
      description: Generate random pirate names.
      parameters:
        - description: Variation to generate `male/female`.
          format: string
          in: query
          name: variation
          required: false
          type: string
        - description: No of names to generate
          format: integer
          in: query
          name: limit
          required: false
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /pirate/translate:
    get:
      description: Translate from English to pirate.
      parameters:
        - description: Text to translate to pirate lingo.
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Translation
schemes:
  - http
securityDefinitions:
  X-Fungenerators-Api-Secret:
    in: header
    name: X-Fungenerators-Api-Secret
    type: apiKey
swagger: '2.0'
tags:
  - description: 'Generate names, insults, lorem ipsum etc'
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/pirate/'
    name: Generation
  - description: Translate to pirate lingo
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/pirate/'
    name: Translation
x-components: {}

