basePath: /
definitions:
  GoogleCloudPolicyanalyzerV1Activity:
    properties:
      activity:
        additionalProperties:
          description: Properties of the object.
        description: A struct of custom fields to explain the activity.
        type: object
      activityType:
        description: The type of the activity.
        type: string
      fullResourceName:
        description: >-
          The full resource name that identifies the resource. For examples of
          full resource names for Google Cloud services, see
          https://cloud.google.com/iam/help/troubleshooter/full-resource-names.
        type: string
      observationPeriod:
        $ref: '#/definitions/GoogleCloudPolicyanalyzerV1ObservationPeriod'
        description: The data observation period to build the activity.
    type: object
  GoogleCloudPolicyanalyzerV1ObservationPeriod:
    description: Represents data observation period.
    properties:
      endTime:
        description: >-
          The observation end time. The time in this timestamp is always
          `07:00:00Z`.
        format: google-datetime
        type: string
      startTime:
        description: >-
          The observation start time. The time in this timestamp is always
          `07:00:00Z`.
        format: google-datetime
        type: string
    type: object
  GoogleCloudPolicyanalyzerV1QueryActivityResponse:
    description: Response to the `QueryActivity` method.
    properties:
      activities:
        description: The set of activities that match the filter included in the request.
        items:
          $ref: '#/definitions/GoogleCloudPolicyanalyzerV1Activity'
        type: array
      nextPageToken:
        description: >-
          If there might be more results than those appearing in this response,
          then `nextPageToken` is included. To get the next set of results, call
          this method again using the value of `nextPageToken` as `pageToken`.
        type: string
    type: object
externalDocs:
  url: 'https://www.google.com'
host: policyanalyzer.googleapis.com
info:
  contact:
    name: Google
    url: 'https://google.com'
    x-twitter: youtube
  description: ''
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Policy Analyzer API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: >-
      https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: 'https://policyanalyzer.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-providerName: googleapis.com
  x-serviceName: policyanalyzer
paths:
  '/v1/{parent}/activities:query':
    get:
      description: Queries policy activities on Google Cloud resources.
      operationId: policyanalyzer.projects.locations.activityTypes.activities.query
      parameters:
        - description: >-
            Required. The container resource on which to execute the request.
            Acceptable formats:
            `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]`
            LOCATION here refers to Google Cloud Locations:
            https://cloud.google.com/about/locations/
          in: path
          name: parent
          required: true
          type: string
        - description: >-
            Optional. Filter expression to restrict the activities returned. For
            serviceAccountLastAuthentication activities, supported filters are:
            - `activities.full_resource_name {=} [STRING]` -
            `activities.fullResourceName {=} [STRING]` where `[STRING]` is the
            full resource name of the service account. For
            serviceAccountKeyLastAuthentication activities, supported filters
            are: - `activities.full_resource_name {=} [STRING]` -
            `activities.fullResourceName {=} [STRING]` where `[STRING]` is the
            full resource name of the service account key.
          in: query
          name: filter
          type: string
        - description: >-
            Optional. The maximum number of results to return from this request.
            Max limit is 1000. Non-positive values are ignored. The presence of
            `nextPageToken` in the response indicates that more results might be
            available.
          in: query
          name: pageSize
          type: integer
        - description: >-
            Optional. If present, then retrieve the next batch of results from
            the preceding call to this method. `pageToken` must be the value of
            `nextPageToken` from the previous response. The values of other
            method parameters should be identical to those in the previous call.
          in: query
          name: pageToken
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleCloudPolicyanalyzerV1QueryActivityResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - description: V1 error format.
        enum:
          - '1'
          - '2'
        in: query
        name: $.xgafv
        type: string
      - description: OAuth access token.
        in: query
        name: access_token
        type: string
      - description: Data format for response.
        enum:
          - json
          - media
          - proto
        in: query
        name: alt
        type: string
      - description: JSONP
        in: query
        name: callback
        type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        type: string
      - description: >-
          API key. Your API key identifies your project and provides you with
          API access, quota, and reports. Required unless you provide an OAuth
          2.0 token.
        in: query
        name: key
        type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        type: boolean
      - description: >-
          Available to use for quota purposes for server-side applications. Can
          be any arbitrary string assigned to a user, but should not exceed 40
          characters.
        in: query
        name: quotaUser
        type: string
      - description: 'Upload protocol for media (e.g. "raw", "multipart").'
        in: query
        name: upload_protocol
        type: string
      - description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
        in: query
        name: uploadType
        type: string
schemes:
  - https
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': >-
        See, edit, configure, and delete your Google Cloud data and see the
        email address for your Google Account.
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authorizationCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': >-
        See, edit, configure, and delete your Google Cloud data and see the
        email address for your Google Account.
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
swagger: '2.0'
tags:
  - name: projects
x-components:
  parameters:
    _.xgafv:
      description: V1 error format.
      enum:
        - '1'
        - '2'
      in: query
      name: $.xgafv
      type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      type: string
    alt:
      description: Data format for response.
      enum:
        - json
        - media
        - proto
      in: query
      name: alt
      type: string
    callback:
      description: JSONP
      in: query
      name: callback
      type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      type: string

