basePath: /
definitions:
  frontline.v1.user:
    properties:
      avatar:
        description: The avatar URL which will be shown in Frontline application
        type: string
        x-nullable: true
      friendly_name:
        description: The string that you assigned to describe the User
        type: string
        x-nullable: true
      identity:
        description: The string that identifies the resource's User
        type: string
        x-nullable: true
      is_available:
        description: Whether the User is available for new conversations
        type: boolean
        x-nullable: true
      sid:
        description: The unique string that identifies the resource
        maxLength: 34
        minLength: 34
        pattern: '^US[0-9a-fA-F]{32}$'
        type: string
        x-nullable: true
      state:
        description: Current state of this user
        enum:
          - active
          - deactivated
        type: string
        x-nullable: true
      url:
        description: An absolute URL for this user.
        format: uri
        type: string
        x-nullable: true
    type: object
host: frontline-api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: 'https://support.twilio.com'
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  termsOfService: 'https://www.twilio.com/legal/tos'
  title: Twilio - Frontline
  version: 1.29.2
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: >-
      https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: >-
        https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_frontline_v1.json
      version: '3.0'
  x-providerName: twilio.com
  x-serviceName: twilio_frontline_v1
paths:
  '/v1/Users/{Sid}':
    description: A User resource represents a frontline user.
    get:
      description: Fetch a frontline user
      operationId: FetchUser
      parameters:
        - description: >-
            The SID of the User resource to fetch. This value can be either the
            `sid` or the `identity` of the User resource to fetch.
          in: path
          name: Sid
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/frontline.v1.user'
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Update an existing frontline user
      operationId: UpdateUser
      parameters:
        - description: >-
            The SID of the User resource to update. This value can be either the
            `sid` or the `identity` of the User resource to update.
          in: path
          name: Sid
          required: true
          type: string
        - description: The avatar URL which will be shown in Frontline application.
          in: formData
          name: Avatar
          type: string
        - description: The string that you assigned to describe the User.
          in: formData
          name: FriendlyName
          type: string
        - description: >-
            Whether the User is available for new conversations. Set to `false`
            to prevent User from receiving new inbound conversations if you are
            using [Pool
            Routing](https://www.twilio.com/docs/frontline/handle-incoming-conversations#3-pool-routing).
          in: formData
          name: IsAvailable
          type: boolean
        - description: Current state of this user. Can be either `active` or `deactivated`.
          enum:
            - active
            - deactivated
          in: formData
          name: State
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/frontline.v1.user'
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: 'https://frontline-api.twilio.com'
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
      pathType: instance
schemes:
  - https
securityDefinitions:
  accountSid_authToken:
    type: basic
swagger: '2.0'
x-components: {}
x-maturity:
  - description: >-
      PLEASE NOTE that this is a Beta product that is subject to change. Use it
      with caution.
    name: Beta

