basePath: /
definitions:
  News:
    properties:
      Author:
        nullable: true
        type: string
      Categories:
        nullable: true
        type: string
      Content:
        nullable: true
        type: string
      NewsID:
        nullable: false
        type: integer
      OriginalSource:
        nullable: true
        type: string
      OriginalSourceUrl:
        nullable: true
        type: string
      PlayerID:
        nullable: true
        type: integer
      PlayerID2:
        nullable: true
        type: integer
      Source:
        nullable: true
        type: string
      Team:
        nullable: true
        type: string
      Team2:
        nullable: true
        type: string
      TeamID:
        nullable: true
        type: integer
      TeamID2:
        nullable: true
        type: integer
      TermsOfUse:
        nullable: true
        type: string
      TimeAgo:
        nullable: true
        type: string
      Title:
        nullable: true
        type: string
      Updated:
        nullable: true
        type: string
      Url:
        nullable: true
        type: string
host: api.sportsdata.io
info:
  contact:
    x-twitter: nfldata
  title: NFL v3 RotoBaller Premium News
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: >-
        https://fantasydata.com/downloads/swagger/nfl-v3-rotoballer-premium-news.json
      version: '2.0'
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-rotoballer-premium-news
paths:
  '/{format}/RotoBallerPremiumNews':
    get:
      operationId: PremiumNews
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News
  '/{format}/RotoBallerPremiumNewsByDate/{date}':
    get:
      operationId: PremiumNewsByDate
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Date
  '/{format}/RotoBallerPremiumNewsByPlayerID/{playerid}':
    get:
      operationId: PremiumNewsByPlayer
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Player
  '/{format}/RotoBallerPremiumNewsByTeam/{team}':
    get:
      operationId: PremiumNewsByTeam
      parameters:
        - default: xml
          description: >-
            Desired response format. Valid entries are <code>XML</code> or
            <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Team
schemes:
  - http
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
swagger: '2.0'
tags: []
x-components: {}

