basePath: /api
definitions:
  book:
    properties:
      id:
        example: afd6
        type: string
      name:
        example: The Shadow Out of Time
        type: string
      year:
        example: '1934'
        type: string
    type: object
  sentence:
    properties:
      book:
        $ref: '#/definitions/book'
      id:
        example: d75b3350
        type: string
      sentence:
        example: >-
          Around the first week in July I developed an unaccountable set of
          mixed emotions about that general northeasterly region.
        type: string
    type: object
host: randomlovecraft.com
info:
  description: Random sentences from the complete works of H.P. Lovecraft. CORS-enabled.
  title: Random Lovecraft
  version: '1.0'
  x-apisguru-categories:
    - text
  x-origin:
    - format: openapi
      url: >-
        https://raw.githubusercontent.com/dekadans/randomlovecraft.com/master/public/openapi.yaml
      version: '3.0'
  x-providerName: randomlovecraft.com
paths:
  /books:
    get:
      description: ''
      operationId: get-books
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/book'
                type: array
            type: object
      summary: List all books
      tags:
        - Books
    summary: ''
  '/books/{id}/sentences':
    get:
      description: ''
      operationId: get-sentences-from-book
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/sentence'
                type: array
            type: object
      summary: Random sentences from a specific book
      tags:
        - Sentences
    parameters:
      - description: Book ID
        in: path
        name: id
        required: true
        type: string
      - default: 1
        in: query
        maximum: 100
        name: limit
        type: integer
    summary: ''
  /sentences:
    get:
      description: ''
      operationId: get-sentences
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/sentence'
                type: array
            type: object
      summary: A random sentence
      tags:
        - Sentences
    parameters:
      - default: 1
        in: query
        maximum: 100
        name: limit
        type: integer
    summary: ''
  '/sentences/{id}':
    get:
      description: ''
      operationId: get-specific-sentence
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                $ref: '#/definitions/sentence'
            type: object
      summary: A specific sentence
      tags:
        - Sentences
    parameters:
      - description: Sentence ID
        in: path
        name: id
        required: true
        type: string
    summary: ''
schemes:
  - https
swagger: '2.0'
tags:
  - name: Sentences
  - name: Books
x-components: {}

