basePath: /transform/1.0.0
host: gateway.wso2apistore.com
info:
  contact:
    x-twitter: wso2
  description: 'This API provides XML to JSON, JSON to XML transformations.'
  title: Transform
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://twitter.com/wso2/profile_image?size=original'
  x-origin:
    - format: openapi
      url: >-
        https://developers.wso2apistore.com/api-docs/manjular-AT-wso2.com-AT-developer/Transform/1.0.0
      version: '3.0'
  x-providerName: wso2apistore.com
  x-serviceName: transform
paths:
  /jsontoxml:
    post:
      consumes:
        - application/json
      parameters:
        - description: JSON payload
          in: body
          name: body
          required: true
          schema:
            default: '{"foo":"bar"}'
            type: string
      responses:
        '200':
          description: ''
      x-auth-type: None
      x-throttling-tier: Unlimited
  /xmltojson:
    post:
      consumes:
        - text/xml
      parameters:
        - description: XML payload
          in: body
          name: body
          required: true
          schema:
            default: <foo>bar</foo>
            type: string
      responses:
        '200':
          description: ''
      x-auth-type: None
      x-throttling-tier: Unlimited
schemes:
  - https
securityDefinitions:
  default:
    authorizationUrl: 'https://gateway.api.cloud.wso2.com/authorize'
    flow: implicit
    scopes: {}
    type: oauth2
swagger: '2.0'
x-components: {}

