basePath: /
host: api.ntropy.network
info:
  contact: {}
  description: |-
    Ntropy Transaction API for transaction classification & management

    Contact Support:
     Name: API Support
     Email: api@ntropy.network
  title: Ntropy Transaction API
  version: 1.0.0
  x-apisguru-categories:
    - financial
  x-logo:
    url: >-
      https://assets.website-files.com/60478d22345ad2b2ea2a1a12/6070b22f45729bf27b1f6be1_ntropy.png
  x-origin:
    - format: postman
      url: >-
        https://www.postman.com/collections/15141771-9e1b6dfc-9afc-4527-9926-479b8ce9366a-TzCJfpx4
      version: 2.x
  x-providerName: ntropy.network
paths:
  '/classifier/business/batch/{id}':
    get:
      description: Get a batch of business transaction classification results.
      operationId: getABatchOfBusinessTransactionClassificationResults.
      parameters: []
      produces:
        - application/json
        - text/plain
      responses:
        '200':
          description: Returned a batch of business transaction classification results.
          schema:
            properties:
              id:
                example: 'urn:uuid:d4b197a2-f2cf-8302-0ef8-566'
                type: string
              progress:
                example: 68497089
                type: number
              results:
                items:
                  properties:
                    labels:
                      items:
                        example: Cloud computing
                        type: string
                      type: array
                    logo:
                      example: 'https://logo.clearbit.com/aws.amazon.com'
                      type: string
                    merchant:
                      example: Amazon Web Services
                      type: string
                    transaction_id:
                      example: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                      type: string
                    website:
                      example: 'https://aws.amazon.com/'
                      type: string
                  type: object
                type: array
              status:
                example: finished
                type: string
              updated_at:
                example: '1949-08-24T23:09:35.824Z'
                type: string
            type: object
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Get a batch of business transaction classification results.
      tags:
        - classifier
        - business
        - batch1
    parameters:
      - description: (Required) Batch id.
        in: path
        name: id
        required: true
        type: string
  '/classifier/consumer/batch/{id}':
    get:
      description: Get a batch of consumer transaction classification results.
      operationId: getABatchOfConsumerTransactionClassificationResults.
      parameters: []
      produces:
        - application/json
        - text/plain
      responses:
        '200':
          description: Returned a batch of consumer transaction classification results.
          schema:
            properties:
              id:
                example: 5d13df6c-6a20-59b6-9259-fb4f0ad90411
                type: string
              progress:
                example: -62518197
                type: number
              results:
                items:
                  properties:
                    contact:
                      properties:
                        email:
                          example: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
                          type: string
                        phone:
                          example: exercitation esse sed nisi
                          type: string
                      type: object
                    labels:
                      items:
                        example: eu quis pr
                        type: string
                      type: array
                    location:
                      properties:
                        address:
                          example: pariatur esse officia cupidatat
                          type: string
                        city:
                          example: fugiat tempor reprehenderit
                          type: string
                        country:
                          example: ad ea ut id
                          type: string
                        lat:
                          example: -68164400.35857312
                          type: number
                        lon:
                          example: 85118979.13578662
                          type: number
                        postal_code:
                          example: minim est
                          type: string
                      type: object
                    logo:
                      example: laborum fugiat
                      type: string
                    merchant:
                      example: do enim ullamco irure
                      type: string
                    person:
                      example: non
                      type: string
                    rating:
                      properties:
                        reviews:
                          example: 49181631
                          type: number
                        value:
                          example: -18636660.679956168
                          type: number
                      type: object
                    transaction_id:
                      example: proident occaecat
                      type: string
                    website:
                      example: ''
                      type: string
                  type: object
                type: array
              status:
                example: error
                type: string
              updated_at:
                example: '2014-05-05T08:09:39.758Z'
                type: string
            type: object
        '404':
          description: Not found
        '500':
          description: Internal server error
      summary: Get a batch of consumer transaction classification results.
      tags:
        - classifier
        - consumer
        - batch
    parameters:
      - description: (Required) Batch id.
        in: path
        name: id
        required: true
        type: string
schemes:
  - https
swagger: '2.0'
tags:
  - name: classifier
  - name: consumer
  - name: batch
  - name: business
  - name: batch1

