basePath: /cert/external
definitions:
  CertificateRequest:
    properties:
      beneficiaryId:
        type: string
      mobile:
        type: string
    type: object
host: cowin.gov.cin
info:
  contact:
    name: Co-WIN by Ministry of Health and Family Welfare
    url: 'https://www.cowin.gov.in'
  description: API to get Co-WIN vaccination certificate.
  termsOfService: 'https://www.cowin.gov.in/terms-condition'
  title: Co-WIN Certificate API
  version: 1.0.0
  x-apisguru-categories:
    - open_data
  x-origin:
    - format: openapi
      url: 'https://apisetu.gov.in/api_specification_v8/cowincert.yaml'
      version: '3.0'
  x-providerName: cowin.gov.cin
  x-serviceName: cowincert
paths:
  /pdf/certificate:
    post:
      consumes:
        - application/json
      operationId: getCertificatePdf
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CertificateRequest'
      responses:
        '400':
          description: Bad request
      security:
        - cert_auth:
            - 'read:cert'
      summary: Download the certificate in pdf format
      tags:
        - certificate
      x-codegen-request-body-name: body
schemes:
  - https
securityDefinitions:
  api_key:
    in: header
    name: Authorization
    type: apiKey
  cert_auth:
    authorizationUrl: 'https://divoc.cowin.gov.in/realms/divoc/protocol/openid-connect/auth'
    flow: accessCode
    scopes:
      'read:cert': read or download certificates
    tokenUrl: 'https://divoc.xiv.in/auth/realms/divoc/protocol/openid-connect/token'
    type: oauth2
swagger: '2.0'
tags:
  - description: Certificate api
    name: certificate
x-components: {}

