basePath: /v4
externalDocs:
  description: API Documentation
  url: 'https://www.exchangerate-api.com/docs/documentation'
host: api.exchangerate-api.com
info:
  description: >-
    Fetch the latest currency exchange rates via API. ExchangeRate-API is free
    and unlimited.
  termsOfService: 'https://www.exchangerate-api.com/terms'
  title: ExchangeRate-API
  version: '4'
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.exchangerate-api.com/img/logo-cube-135px.png'
  x-origin:
    - converter:
        url: 'https://github.com/mermade/oas-kit'
        version: 7.0.4
      format: openapi
      url: 'https://www.exchangerate-api.com/openapi.yaml'
      version: '3.0'
  x-providerName: exchangerate-api.com
paths:
  '/latest/{base_currency}':
    get:
      parameters:
        - description: >-
            **Base Currency**. *Example: USD*. You an use any of the ISO 4217
            currency codes we support. See
            https://www.exchangerate-api.com/docs/supported-currencies
          in: path
          name: base_currency
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              base:
                description: The currency code you supplied as base in your request
                example: USD
                type: string
              date:
                description: The date these exchange rates are for
                type: string
              rates:
                additionalProperties:
                  format: double
                  type: number
                description: Each supported currency code in terms of the base currency
                type: object
              time_last_updated:
                description: The epoch time this set of exchange rates was generated
                example: 1556293443
                type: integer
            type: object
        '404':
          description: Currency code not supported
          schema:
            properties:
              error_type:
                type: string
              result:
                type: string
            type: object
      summary: Returns latest exchange rates in parameter-supplied base currency.
schemes:
  - https
swagger: '2.0'

