basePath: /
definitions:
  OBEvent1:
    additionalProperties: false
    description: Events.
    properties:
      'urn:uk:org:openbanking:events:resource-update':
        $ref: '#/definitions/OBEventResourceUpdate1'
    required:
      - 'urn:uk:org:openbanking:events:resource-update'
    type: object
  OBEventLink1:
    additionalProperties: false
    description: Resource links to other available versions of the resource.
    minProperties: 1
    properties:
      link:
        description: Resource link.
        type: string
      version:
        description: Resource version.
        maxLength: 10
        minLength: 1
        type: string
    required:
      - version
      - link
    type: object
  OBEventNotification1:
    additionalProperties: false
    description: The resource-update event.
    properties:
      aud:
        description: Audience.
        maxLength: 128
        minLength: 1
        type: string
      events:
        $ref: '#/definitions/OBEvent1'
      iat:
        description: 'Issued At. '
        format: int32
        minimum: 0
        type: integer
      iss:
        description: Issuer.
        type: string
      jti:
        description: JWT ID.
        maxLength: 128
        minLength: 1
        type: string
      sub:
        description: Subject
        format: uri
        type: string
      toe:
        description: Time of Event.
        format: int32
        minimum: 0
        type: integer
      txn:
        description: Transaction Identifier.
        maxLength: 128
        minLength: 1
        type: string
    required:
      - iss
      - iat
      - jti
      - aud
      - sub
      - txn
      - toe
      - events
    type: object
  OBEventResourceUpdate1:
    additionalProperties: false
    description: Resource-Update Event.
    properties:
      subject:
        $ref: '#/definitions/OBEventSubject1'
    required:
      - subject
    type: object
  OBEventSubject1:
    additionalProperties: false
    description: The resource-update event.
    properties:
      'http://openbanking.org.uk/rid':
        description: Resource Id for the updated resource.
        maxLength: 128
        minLength: 1
        type: string
      'http://openbanking.org.uk/rlk':
        description: Resource links to other available versions of the resource.
        items:
          $ref: '#/definitions/OBEventLink1'
        minItems: 1
        type: array
      'http://openbanking.org.uk/rty':
        description: Resource Type for the updated resource.
        maxLength: 128
        minLength: 1
        type: string
      subject_type:
        description: 'Subject type for the updated resource. '
        maxLength: 128
        minLength: 1
        type: string
    required:
      - subject_type
      - 'http://openbanking.org.uk/rid'
      - 'http://openbanking.org.uk/rty'
      - 'http://openbanking.org.uk/rlk'
    type: object
host: openbanking.org.uk
info:
  contact:
    email: ServiceDesk@openbanking.org.uk
    name: Service Desk
  description: Swagger for Event Notification API Specification - TPP Endpoints
  license:
    name: open-licence
    url: 'https://www.openbanking.org.uk/open-licence'
  termsOfService: 'https://www.openbanking.org.uk/terms'
  title: Event Notification API Specification - TPP Endpoints
  version: 3.1.7
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://avatars0.githubusercontent.com/u/23359225?v=4&s=200'
  x-origin:
    - format: openapi
      url: >-
        https://raw.githubusercontent.com/OpenBankingUK/read-write-api-specs/master/dist/openapi/event-notifications-openapi.yaml
      version: '3.0'
  x-providerName: openbanking.org.uk
  x-serviceName: event-notifications-openapi
paths:
  /event-notifications:
    post:
      consumes:
        - application/jwt
      operationId: CreateEventNotification
      parameters:
        - description: >-
            The unique id of the ASPSP to which the request is issued. The
            unique id will be issued by OB.
          in: header
          name: x-fapi-financial-id
          required: true
          type: string
        - description: An RFC4122 UID used as a correlation id.
          in: header
          name: x-fapi-interaction-id
          required: false
          type: string
        - description: Create an Callback URI
          in: body
          name: body
          required: true
          schema:
            format: base64
            type: string
      responses:
        '202':
          description: Accepted
      summary: Send an event notification
      tags:
        - Event Notification
schemes:
  - https
securityDefinitions:
  TPPOAuth2Security:
    description: TPP client credential authorisation flow with the ASPSP
    flow: application
    scopes:
      accounts: Ability to read Accounts information
      fundsconfirmations: Ability to confirm funds
      payments: Generic payment scope
    tokenUrl: 'https://authserver.example/token'
    type: oauth2
swagger: '2.0'
x-components:
  parameters:
    x-fapi-financial-id-Param:
      description: >-
        The unique id of the ASPSP to which the request is issued. The unique id
        will be issued by OB.
      in: header
      name: x-fapi-financial-id
      required: true
      type: string
    x-fapi-interaction-id-Param:
      description: An RFC4122 UID used as a correlation id.
      in: header
      name: x-fapi-interaction-id
      required: false
      type: string

