basePath: /
host: api.fungenerators.com
info:
  description: >
    Below is the documentation for the API calls. You can try them out right
    here. 
  title: Fun Generators API
  version: '1.5'
  x-apisguru-categories:
    - text
  x-origin:
    - format: openapi
      url: 'https://fungenerators.com/yaml/riddle.yaml'
      version: '3.0'
  x-providerName: fungenerators.com
  x-serviceName: riddle
paths:
  /riddle:
    delete:
      description: Create a random Riddle entry.
      parameters:
        - description: Riddle ID
          format: string
          in: query
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Private Riddles
    get:
      description: >-
        Get a Riddle entry for a given id. Retrieves a riddle question and
        answer based on the id.
      parameters:
        - description: ID of the riddle to fetch
          format: string
          in: query
          name: id
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Private Riddles
    post:
      description: >-
        Create a random Riddle entry. Same as 'PUT' but can be used when some of
        the client libraries don't support 'PUT'.
      parameters:
        - description: Riddle Question
          format: string
          in: query
          name: question
          required: true
          type: string
        - description: Category of the riddle
          format: string
          in: query
          name: category
          required: true
          type: string
        - description: Answer(s) to the riddle question
          format: string
          in: query
          name: answer
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Private Riddles
    put:
      description: Create a random Riddle entry.
      parameters:
        - description: Riddle Question
          format: string
          in: query
          name: question
          required: true
          type: string
        - description: Category of the riddle
          format: string
          in: query
          name: category
          required: true
          type: string
        - description: Answer(s) to the riddle question
          format: string
          in: query
          name: answer
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Private Riddles
  /riddle/random:
    get:
      description: Get a random riddle for a given category(optional)
      parameters:
        - description: Category to get the riddle from
          format: string
          in: query
          name: category
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Random Riddle
  /riddle/search:
    get:
      description: >-
        Search for random riddle which has the text in the query, for a given
        category(optional).
      parameters:
        - description: Text to search for in the riddle
          format: string
          in: query
          name: query
          required: false
          type: string
        - description: Category to get the riddle from
          format: string
          in: query
          name: category
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: 200  response
        '401':
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Random Riddle
schemes:
  - https
securityDefinitions:
  X-Fungenerators-Api-Secret:
    in: header
    name: X-Fungenerators-Api-Secret
    type: apiKey
swagger: '2.0'
tags:
  - description: Generate Random Riddles
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/riddle'
    name: Random Riddle
  - description: Store and Retrive your Riddles
    externalDocs:
      description: Find out more
      url: 'http://fungenerators.com/api/riddle'
    name: Private Riddles
x-components: {}

