basePath: /
definitions:
  chat.v3.channel:
    properties:
      account_sid:
        description: The SID of the Account that created the resource
        maxLength: 34
        minLength: 34
        pattern: '^AC[0-9a-fA-F]{32}$'
        type: string
        x-nullable: true
      attributes:
        description: The JSON string that stores application-specific data
        type: string
        x-nullable: true
      created_by:
        description: The identity of the User that created the channel
        type: string
        x-nullable: true
      date_created:
        description: The ISO 8601 date and time in GMT when the resource was created
        format: date-time
        type: string
        x-nullable: true
      date_updated:
        description: The ISO 8601 date and time in GMT when the resource was last updated
        format: date-time
        type: string
        x-nullable: true
      friendly_name:
        description: The string that you assigned to describe the resource
        type: string
        x-nullable: true
      members_count:
        description: The number of Members in the Channel
        type: integer
        x-nullable: true
      messages_count:
        description: The number of Messages that have been passed in the Channel
        type: integer
        x-nullable: true
      messaging_service_sid:
        description: The unique ID of the Messaging Service this channel belongs to.
        maxLength: 34
        minLength: 34
        pattern: '^MG[0-9a-fA-F]{32}$'
        type: string
        x-nullable: true
      service_sid:
        description: The SID of the Service that the resource is associated with
        maxLength: 34
        minLength: 34
        pattern: '^IS[0-9a-fA-F]{32}$'
        type: string
        x-nullable: true
      sid:
        description: The unique string that identifies the resource
        maxLength: 34
        minLength: 34
        pattern: '^CH[0-9a-fA-F]{32}$'
        type: string
        x-nullable: true
      type:
        description: 'The visibility of the channel. Can be: `public` or `private`'
        enum:
          - public
          - private
        type: string
        x-nullable: true
      unique_name:
        description: An application-defined string that uniquely identifies the resource
        type: string
        x-nullable: true
      url:
        description: The absolute URL of the Channel resource
        format: uri
        type: string
        x-nullable: true
    type: object
host: chat.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: 'https://support.twilio.com'
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  termsOfService: 'https://www.twilio.com/legal/tos'
  title: Twilio - Chat
  version: 1.29.2
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: >-
      https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: >-
        https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_chat_v3.json
      version: '3.0'
  x-providerName: twilio.com
  x-serviceName: twilio_chat_v3
paths:
  '/v3/Services/{ServiceSid}/Channels/{Sid}':
    description: >-
      A Channel resource represents a chat/conversation channel with an ordered
      list of messages and a participant roster.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Update a specific Channel.
      operationId: UpdateChannel
      parameters:
        - description: The unique SID identifier of the Service.
          in: path
          maxLength: 34
          minLength: 34
          name: ServiceSid
          pattern: '^IS[0-9a-fA-F]{32}$'
          required: true
          type: string
        - description: A 34 character string that uniquely identifies this Channel.
          in: path
          name: Sid
          required: true
          type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          enum:
            - 'true'
            - 'false'
          in: header
          name: X-Twilio-Webhook-Enabled
          type: string
        - description: >-
            The unique ID of the [Messaging
            Service](https://www.twilio.com/docs/sms/services/api) this channel
            belongs to.
          in: formData
          maxLength: 34
          minLength: 34
          name: MessagingServiceSid
          pattern: '^MG[0-9a-fA-F]{32}$'
          type: string
        - description: >-
            TThe Type for this Channel to migrate to. Can only be `private`.
            Migration to 'public' is not allowed.
          enum:
            - public
            - private
          in: formData
          name: Type
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/chat.v3.channel'
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: 'https://chat.twilio.com'
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: instance
schemes:
  - https
securityDefinitions:
  accountSid_authToken:
    type: basic
swagger: '2.0'
x-components: {}
x-maturity:
  - description: This product is Generally Available.
    name: GA

