basePath: /
definitions:
  NotificationSetting:
    description: >-
      A Google Pub/Sub topic where notifications can be published when a
      location is updated or has a new review. There will be only one
      notification setting resource per-account.
    properties:
      name:
        description: >-
          Required. The resource name this setting is for. This is of the form
          `accounts/{account_id}/notificationSetting`.
        type: string
      notificationTypes:
        description: >-
          The types of notifications that will be sent to the Pub/Sub topic. To
          stop receiving notifications entirely, use
          NotificationSettings.UpdateNotificationSetting with an empty
          notification_types or set the pubsub_topic to an empty string.
        items:
          enum:
            - NOTIFICATION_TYPE_UNSPECIFIED
            - GOOGLE_UPDATE
            - NEW_REVIEW
            - UPDATED_REVIEW
            - NEW_CUSTOMER_MEDIA
            - NEW_QUESTION
            - UPDATED_QUESTION
            - NEW_ANSWER
            - UPDATED_ANSWER
            - DUPLICATE_LOCATION
            - LOSS_OF_VOICE_OF_MERCHANT
            - VOICE_OF_MERCHANT_UPDATED
          type: string
        type: array
      pubsubTopic:
        description: >-
          Optional. The Google Pub/Sub topic that will receive notifications
          when locations managed by this account are updated. If unset, no
          notifications will be posted. The account
          mybusiness-api-pubsub@system.gserviceaccount.com must have at least
          Publish permissions on the Pub/Sub topic.
        type: string
    type: object
externalDocs:
  url: 'https://developers.google.com/my-business/'
host: mybusinessnotifications.googleapis.com
info:
  contact:
    name: Google
    url: 'https://google.com'
    x-twitter: youtube
  description: >-
    The My Business Notification Settings API enables managing notification
    settings for business accounts.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: My Business Notifications API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: >-
      https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: >-
        https://mybusinessnotifications.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: mybusinessnotifications
paths:
  '/v1/{name}':
    get:
      description: Returns the pubsub notification settings for the account.
      operationId: mybusinessnotifications.accounts.getNotificationSetting
      parameters:
        - description: >-
            Required. The resource name of the notification setting we are
            trying to fetch.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NotificationSetting'
      tags:
        - accounts
    parameters:
      - description: V1 error format.
        enum:
          - '1'
          - '2'
        in: query
        name: $.xgafv
        type: string
      - description: OAuth access token.
        in: query
        name: access_token
        type: string
      - description: Data format for response.
        enum:
          - json
          - media
          - proto
        in: query
        name: alt
        type: string
      - description: JSONP
        in: query
        name: callback
        type: string
      - description: Selector specifying which fields to include in a partial response.
        in: query
        name: fields
        type: string
      - description: >-
          API key. Your API key identifies your project and provides you with
          API access, quota, and reports. Required unless you provide an OAuth
          2.0 token.
        in: query
        name: key
        type: string
      - description: OAuth 2.0 token for the current user.
        in: query
        name: oauth_token
        type: string
      - description: Returns response with indentations and line breaks.
        in: query
        name: prettyPrint
        type: boolean
      - description: >-
          Available to use for quota purposes for server-side applications. Can
          be any arbitrary string assigned to a user, but should not exceed 40
          characters.
        in: query
        name: quotaUser
        type: string
      - description: 'Upload protocol for media (e.g. "raw", "multipart").'
        in: query
        name: upload_protocol
        type: string
      - description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
        in: query
        name: uploadType
        type: string
    patch:
      consumes:
        - application/json
      description: >-
        Sets the pubsub notification setting for the account informing Google
        which topic to send pubsub notifications for. Use the notification_types
        field within notification_setting to manipulate the events an account
        wants to subscribe to. An account will only have one notification
        setting resource, and only one pubsub topic can be set. To delete the
        setting, update with an empty notification_types
      operationId: mybusinessnotifications.accounts.updateNotificationSetting
      parameters:
        - description: >-
            Required. The resource name this setting is for. This is of the form
            `accounts/{account_id}/notificationSetting`.
          in: path
          name: name
          required: true
          type: string
        - description: >-
            Required. The specific fields that should be updated. The only
            editable field is notification_setting.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/NotificationSetting'
      produces:
        - application/json
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NotificationSetting'
      tags:
        - accounts
schemes:
  - https
swagger: '2.0'
tags:
  - name: accounts
x-components:
  parameters:
    _.xgafv:
      description: V1 error format.
      enum:
        - '1'
        - '2'
      in: query
      name: $.xgafv
      type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      type: string
    alt:
      description: Data format for response.
      enum:
        - json
        - media
        - proto
      in: query
      name: alt
      type: string
    callback:
      description: JSONP
      in: query
      name: callback
      type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      type: string

